@font-face {
    font-family: open_sas;
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    background-image: url(img/full.png);
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px){
    body {
        width: 808px;
        height: 832px;
        background-image: url(img/right.png);
        background-repeat: no-repeat;
    }
}
